<div class="nav-header headerscroll" [class.hidden]="isHeaderHidden">
    <div class="margin-left-right">
        <div>
            <a class="justify-logo" href="#top">
                <img src="./assets/img/logo.png" alt="">
            </a>
        </div>

        <div class="nav-links">
            <a href="#about-me">{{"aboutMe" | translate}}</a>
            <a href="#skills">{{"skills" | translate}}</a>
            <a href="#portfolio">{{"portfolio" | translate}}</a>
            <a (click)="translate.switchLanguage('en')">EN</a> |
            <a (click)="translate.switchLanguage('de')" class="translate_button">DE</a>
        </div>
        <div id="burger-menu">
            <img src="./assets/img/burger-menu.png" alt="" (click)="toggleMobileNavbar()">
        </div>
    </div>
</div>

<!-- mobile menu -->
<section *ngIf="showMobileNavbar">
    <div class="header">
        <div class="margin-left-right">
            <a class="justify-logo" href="#top">
                <img src="./assets/img/logo.png" alt="" (click)="toggleMobileNavbarBack()">
            </a>
            <img id="burger-menu-mobile" src="./assets/img/burger-menu-close.png" alt=""
                (click)="toggleMobileNavbarBack()">
        </div>
    </div>
    <div class="links">
        <a href="#about-me" (click)="toggleMobileNavbarBack()">{{"aboutMe" | translate}}</a>
        <a href="#skills" (click)="toggleMobileNavbarBack()">{{"skills" | translate}}</a>
        <a href="#portfolio" (click)="toggleMobileNavbarBack()">{{"portfolio" | translate}}</a>
        <a href="#contact" (click)="toggleMobileNavbarBack()">{{"contact" | translate}}</a>
        <div class="translate_responsive">
            <a (click)="translate.switchLanguage('en')" class="translate_button_responsive">EN</a>
            <a (click)="translate.switchLanguage('de')" class="translate_button_responsive">DE</a>
        </div>
    </div>
</section>