.nav-header {
    height: 109px;
    position: fixed;
    background-color: rgb(20, 29, 47);
    top: 0;
    margin-left: -10vw;
    margin-right: -10vw;
    z-index: 1000;
    width: 100%;
}

.nav-links {
    a {
        margin-left: 48px;
        cursor: pointer;
        color: white;
        text-decoration: none;

        &:hover {
            color: rgb(250, 121, 2);
        }
    }
}

.margin-left-right {
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    align-items: center;
    height: 100%;
}

@media (max-width: 775px) {
    .nav-links {
        display: none;
    }
}