section {
    background-color: rgb(20, 29, 47);
    margin-left: -10vw;
    margin-right: -10vw;
    border-top: 4px solid rgba(250, 121, 2, 1);
    margin-top: 150px;
}

.logo-imprint {
    text-align: center;
    display: flex;
    flex-direction: column;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: rgb(250, 121, 2);
        }
    }
}

.footer-box {
    height: 291px;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials {
    display: flex;
    gap: 16px;

    img {
        cursor: pointer;
    }

    a {
        transition: all 125ms ease-in-out;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.copyright {
    p {
        font-size: 23px;
    }
}

.justify-logo {
    img {
        height: 100px;
    }
}

@media (max-width: 1010px) {
    .justify-logo img {
        height: 80px;
    }
}

@media (max-width: 1000px) {
    .footer-box {
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
    }

    .copyright {
        p {
            font-size: 16px;
        }
    }
}