<div id="about-me" class="sprung"></div>
<section>
    <div class="about-me-text">
        <h4>About Me</h4>

        <p>Hi, I am a Front-end deverloper based in München, Germany(....)Lorem ipsum dolor sit amet, consectetur
            adipiscing
            elit. Ut auctor sem non tempus convallis. Integer et justo vitae urna finibus eleifend sit amet porttitor
            sapien. Deec sollicitudin massa vel lorem vestibulum efficitur. </p>
        <div class="text-image">
            <img src="./assets/img/about-bulp-desktop.png" alt="">
            <p>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti
                sociosqu
                ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
        </div>
        <div class="text-image">
            <img src="./assets/img/about-puzzle-desktop.png" alt="">
            <p>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti
                sociosqu
                ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
        </div>
    </div>
    <div class="ellipse">
        <div class="ellipse-face">
            <img id="albert-face" src="./assets/img/albert-anzug-background-empty2.png" alt="">
            <img src="./assets/img/about-ellipse.png" alt="">
        </div>
        <div class="overflow-hidden">
            <img id="ellipse-line" src="./assets/img/about-ellipse-line.png" alt="">
        </div>
    </div>
    <img class="shadow-purple" src="./assets/img/about-shadow-purple.png" alt="">
</section>