<div id="portfolio" class="sprung"></div>
<section>
    <div class="portfolio-container">
        <div>
            <img id="line-small" src="./assets/img/portfolio/portfolio-left-line.png" alt="">
            <h4>Portfolio</h4>
            <img id="line-length" src="./assets/img/portfolio/portfolio-right-line.png" alt="">
        </div>
        <p>This portfolio page and its following projects serve as a showcase of my programming skills, inviting you to explore
            and experience my work firsthand. Feel free to try them out!</p>
    </div>


    <app-portfolio-template *ngFor="let data of projects" [project]="data"></app-portfolio-template>


    <img class="shadow-portfolio" src="./assets/img/portfolio/shadow-portfolio.png" alt="">
</section>