RewriteEngine On

# Wenn die angeforderte Datei existiert oder ein Verzeichnis ist, nicht umleiten
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Alle anderen Anfragen an index.html weiterleiten
RewriteRule ^ index.html [L]