<section>
    <div class="main-container">
        <div class="image-text">
            <div class="images">
                <img id="albert-img" src="./assets/img/albert-wide-emptybackground.png" alt="">
                <img id="shadow-img" src="./assets/img/shadow-double-red-orange.png" alt="">
            </div>
            <div class="text-box orange-button">
                <div>
                    <div class="text">
                        <div class="vertical-text">
                            {{ "iam" | translate }}
                        </div>
                        <div class="normal-text">
                            <h1>Albert Wissigkeit</h1>
                            <h2>{{ "frontenddev" | translate }}</h2>
                        </div>
                    </div>
                    <div class="center-button">
                        <a href="#contact" class="margin-for-button"><button>{{ "letstalk" | translate }}</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex mail-container">
            <div class="e-mail-links">
                <img src="./assets/img/red-line-e-mail-icons.png" alt="">
                <a href="https://github.com/CrazyBird007" target="_blank"><img src="./assets/img/github-button.png" alt=""></a>
                <a href="mailto:wissigkeit@outlook.de"><img src="./assets/img/email-button.png" alt=""></a>
                <a href="https://www.linkedin.com/in/albert-wissigkeit/" target="_blank"><img src="./assets/img/linkedin-button.png" alt=""></a>
                <p>wissigkeit&#64;outlook.de</p>
            </div>
            <div class="vertical-scroll-text">
                <p>{{ "scroll" | translate }}</p>
                <img src="./assets/img/scroll-down-arrow.png" alt="">
            </div>
        </div>
    </div>

    <div class="shape">
        <img src="./assets/img/start-shape.png" alt="">
    </div>
</section>