<section>
    <div class="main-container">
        <div class="image-text">
            <div class="images">
                <img id="albert-img" src="./assets/img/albert-no-background.png" alt="">
                <img src="./assets/img/shadow-double-red-orange.png" alt="">
            </div>
            <div class="text-box">
                <div class="text">
                    <div class="vertical-text">
                        I am
                    </div>
                    <div class="normal-text">
                        <p>Albert Wissigkeit</p>
                        <span>FRONTEND DEVELOPER</span>
                    </div>
                </div>
                <button>Let´s talk!</button>
            </div>
        </div>
        <div class="flex mail-container">
            <div class="e-mail-links">
                <img src="./assets/img/red-line-e-mail-icons.png" alt="">
                <img src="./assets/img/github-button.png" alt="">
                <img src="./assets/img/email-button.png" alt="">
                <img src="./assets/img/linkedin-button.png" alt="">
                <p>wissigkeit@web.de</p>
            </div>
            <div class="vertical-scroll-text">
                <p>Scroll down</p>
                <img src="./assets/img/scroll-down-arrow.png" alt="">
            </div>
        </div>
    </div>

    <div class="shape">
        <img src="./assets/img/start-shape.png" alt="">
    </div>
</section>
































<!-- bisher beste version -->

<!-- <section>
    <div class="text-box">
        <div class="text">
            <div class="vertical-text">
                I am
            </div>
            <div class="normal-text">
                <p>Albert Wissigkeit</p>
                <span>FRONTEND DEVELOPER</span>
            </div>
        </div>
        <button>Let´s talk!</button>
    </div>
    <div class="shape">
        <img src="./assets/img/start-shape.png" alt="">
    </div>
    <div class="start-shadow">
        <img src="./assets/img/shadow-double-red-orange.png" alt="">
    </div>
    
    <div class="start-albert">
        <img src="./assets/img/albertgross-emptybackground.png" alt="">
    </div>
</section> -->





























<!-- <section>
    <div class="shape">
        <img src="./assets/img/start-shape.png" alt="">
    </div>
    <div class="flex-direction">
        <div class="img-text">
            <div class="images">
                <img src="./assets/img/shadow-double-red-orange.png" alt="">
                <img src="./assets/img/albertgross-emptybackground2.png" alt="">
            </div>
            <div class="text">
                <div class="vertical-text">
                    <p>I am</p>
                </div>
                <div class="normal-text">
                    <p>Albert Wissigkeit</p>
                    <span>FRONTEND DEVELOPER</span>
                    <button>Let´s talk!</button>
                </div>
            </div>
        </div>
        <div class="e-mail-buttons">
            email buttons hier
        </div>
    </div>
</section> -->





















<!-- <div class="start-box">
    <div class="flex-direction">
        <div class="image-shadow">
            <img src="./assets/img/shadow-double-red-orange.png" alt="">
        </div>
        <div class="image-albert">
            <img src="./assets/img/albertgross-emptybackground2.png" alt="">
        </div>
        <div class="text-name">
            <p>I am </p>
            <p>Albert Wissigkeit</p>
            <p>frontend developer</p>
        </div>
    </div>
    <div class="shape">
        <img src="./assets/img/start-shape.png" alt="">
    </div>
</div>

<div class="e-mail-buttons">
    e-mail: wissigkeit@web.de BUTTON1 BUTTON2 BUTTON3
</div> -->



















<!-- <div class="start-box">
    <div class="text">
        <div class="vertical-text">
            <p>I am</p>
        </div>
        <div class="normal-text">
            <p>Albert Wissigkeit</p>
            <span>FRONTEND DEVELOPER</span>
            <button>Let´s talk!</button>
        </div>
    </div>
</div>

<div class="start-shape">
    <img src="./assets/img/start-shape.png" alt="">
</div>

<div class="start-shadow">
    <img src="./assets/img/shadow-double-red-orange.png" alt="">
</div>

<div class="start-albert">
    <img src="./assets/img/albertgross-emptybackground.png" alt="">
</div> -->