<section>
    <div class="main-container">
        <div class="image-text">
            <div class="images">
                <img id="albert-img" src="./assets/img/albert-no-background.png" alt="">
                <img id="shadow-img" src="./assets/img/shadow-double-red-orange.png" alt="">
            </div>
            <div class="text-box orange-button">
                <div>
                    <div class="text">
                        <div class="vertical-text">
                            I am
                        </div>
                        <div class="normal-text">
                            <h1>Albert Wissigkeit</h1>
                            <h2>FRONTEND DEVELOPER</h2>
                        </div>
                    </div>
                    <div class="center-button">
                        <button>Let´s talk!</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex mail-container">
            <div class="e-mail-links">
                <img src="./assets/img/red-line-e-mail-icons.png" alt="">
                <img src="./assets/img/github-button.png" alt="">
                <img src="./assets/img/email-button.png" alt="">
                <img src="./assets/img/linkedin-button.png" alt="">
                <p>wissigkeit@web.de</p>
            </div>
            <div class="vertical-scroll-text">
                <p>Scroll down</p>
                <img src="./assets/img/scroll-down-arrow.png" alt="">
            </div>
        </div>
    </div>

    <div class="shape">
        <img src="./assets/img/start-shape.png" alt="">
    </div>
</section>