
<section class="link">
    <a routerLink="">
      <img src="./assets/img/logo.png" alt="">
    </a>
    <h1>{{ "imprint_imprint" | translate }}</h1>
    <h2>{{ "information_imprint" | translate }} § 5 TMG</h2>
    <p>
      Albert Wissigkeit<br>
      Amorbacherstr. 3<br>
      68549 Ilvesheim
    </p>
    <h2>{{ "contact_imprint" | translate }}</h2>
    <p>
      E-Mail: mail&#64;albert-wissigkeit.de
    </p>
    <p id="margin-bottom">
      Quelle:
      <a href="https://www.e-recht24.de" target="_blank">
        eRecht24
      </a>
      <br>
      <a routerLink="/dataprotection">Datenschutz</a>
    </p>







    <h4>Credits</h4>
    <!-- AW Logo -->
    <p>Created my free logo at <a href="https://logomakr.com/" target="_blank">LogoMakr.com</a></p>
    <!-- pc image 1 for join project -->
    Bild von <a href="https://pixabay.com/de/users/maiconfz-1424200/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1271863">Maicon
      Fonseca Zanco</a> auf <a href="https://pixabay.com/de//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1271863">Pixabay</a>
    <!-- pc image for pokemon -->
    <p>Bild von <a href="https://pixabay.com/de/users/openclipart-vectors-30363/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=149362">OpenClipart-Vectors</a>
      auf <a href="https://pixabay.com/de//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=149362">Pixabay</a>
    </p>
    <!-- pc img for pollo loco -->
    <p>Bild von <a href="https://pixabay.com/de/users/maiconfz-1424200/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1330162">Maicon
        Fonseca Zanco</a> auf <a href="https://pixabay.com/de//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1330162">Pixabay</a>
    </p>
  </section>