<div id="end2" class="sprung"></div>
<section>
    <div>
        <h4>Contact</h4>
        <img id="contact-line" src="./assets/img/contact-line.png" alt="">
    </div>
    <div class="flex mobile-direction">
        <div class="content">
            <span>Got a problem to solve?</span>
            <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your
                projects with my work.</p>
            <p>Need a Frontend developer? <b>Contact me!</b></p>
        </div>
        <div class="form-box">
            <form (submit)="sendMail()" class="orange-button" #myForm ngNativeValidate>
                <input name="name" type="text" placeholder="Your name" #nameField required>
                <input name="email" type="email" placeholder="Your email" #emailField required>
                <textarea name="message" id="" rows="7" placeholder="Your message" #messageField required></textarea>
                <div class="button-box">
                    <button #sendButton>Send message :)</button>
                </div>
            </form>
        </div>
    </div>
    <div class="go-up-button">
        <a href="#top">
            <img id="go-up-button" src="./assets/img/go-up-button.png" alt="">
        </a>
    </div>
    <!-- <img class="shadow-contact-left" src="./assets/img/shadow-contact-left.png" alt=""> -->
    <img class="shadow-contact-right" src="./assets/img/skills/shadow-orange-skill.png" alt="">
</section>