<section>
    <div class="project-img">
        <img src="./assets/img/portfolio/pollo-loco.png" alt="">
    </div>
    <div class="content">
        <h5>El Pollo Loco</h5>
        <span>JavaScript | HTML | CSS</span>
        <p>Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to
            fight against
            the crazy hen.</p>
        <div class="button-container">
            <div class="red-button">
                <button>Live test</button>
            </div>
            <div class="git-button">
                <button>Github</button>
            </div>
        </div>
    </div>
</section>