<section [class.reverse]="project.reverse">
    <div class="project-img">
        <img src="{{ project.img }}" alt="">
    </div>
    <div class="content" [class.reverse-content]="project.reverse">
        <h5>{{ project.name }}</h5>
        <span>{{ project.code }}</span>
        <p>{{ project.description }}</p>
        <div class="button-container" [class.button-container-reverse]="project.reverse">
            <form class="red-button" action="{{ project.projectlink }}" target="_blank">
                <button type="submit">Live test</button>
            </form>
            <form class="git-button" action="{{ project.githublink }}" target="_blank">
                <button type="submit">Github</button>
            </form>
        </div>
    </div>
</section>







<!-- <section>
    <div class="project-img">
        <img src="./assets/img/portfolio/pollo-loco.png" alt="">
    </div>
    <div class="content">
        <h5>El Pollo Loco</h5>
        <span>JavaScript | HTML | CSS</span>
        <p>Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to
            fight against
            the crazy hen.</p>
        <div class="button-container">
            <div class="red-button">
                <button>Live test</button>
            </div>
            <div class="git-button">
                <button>Github</button>
            </div>
        </div>
    </div>
</section> -->