<section [class.reverse]="project.reverse">
    <div class="project-img">
        <img src="{{ project.img }}" alt="">
    </div>
    <div class="content" [class.reverse-content]="project.reverse">
        <h5>{{ project.name }}</h5>
        <span>{{ project.code }}</span>
        <p>{{ project.description }}</p>
        <div class="button-container" [class.button-container-reverse]="project.reverse">
            <a href="{{ project.projectlink }}" target="_blank" class="red-button"><button>Live test</button></a>
            <a href="{{ project.githublink }}" target="_blank" class="git-button"><button>Github</button></a> 
        </div>
    </div>
</section>