section {
    margin-top: 150px;
    display: flex;
}

.text-button {
    display: flex;
    align-items: center;
    text-align: center;

    div {
        img {
            right: 0;
            margin-right: -10vw;
        }
    }
}

.logo-container {
    width: 70%;
    z-index: 1;
}

.button-box {
    height: 45px;
    display: flex;
    justify-content: center;
}

.logo-gap {
    gap: 15%;
    display: flex;

    img {
        height: 60px;
        width: 100%;
        max-width: 60px;
        object-fit: contain;
    }

    div {
        min-width: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:hover {
            transform: rotate(8deg);
        }

        p {
            margin: 0;
        }
    }
}

.m-bottom {
    margin-bottom: 10%;
}

.skill-red-line {
    position: absolute;
    margin-top: -150px;
}

.shadow-orange-skill {
    position: absolute;
    height: 750px;
    margin-left: -32%;
    margin-top: -7%;
    z-index: -1;
}

@media (max-width: 1405px) {
    .skill-red-line {
        margin-top: -141px;
    }
}

@media (max-width: 1200px) {
    .text-button {
        align-items: flex-end;
    }

    .skill-red-line {
        margin-top: -136px;
    }
}

@media (max-width: 1050px) {
    .logo-gap {
        div {
            min-width: 67px;
        }

        img {
            height: 40px;
            width: 100%;
            max-width: 40px;
        }
    }

    .skill-red-line {
        margin-top: -126px;
    }
}

@media (max-width: 905px) {
    .skill-red-line {
        margin-top: -147px;
    }
}

@media (max-width: 800px) {
    section {
        flex-direction: column-reverse;
    }

    .logo-container {
        width: 100%;
        margin-top: 100px;
    }

    .skill-red-line {
        margin-top: -123px;
    }
}

@media (max-width: 600px) {
    .logo-gap {
        gap: 9%;

        div {
            min-width: 67px;
        }

        img {
            height: 40px;
            width: 100%;
            max-width: 40px;
        }

        p {
            font-size: 12px;
        }
    }

    .shadow-orange-skill {
        opacity: 0.5;
    }
}

@media (max-width: 525px) {
    .skill-red-line {
        margin-top: -147px;
    }
}

@media (max-width: 440px) {
    .skill-red-line {
        margin-top: -140px;
    }
}

@media (max-width: 415px) {
    .logo-gap {
        div {
            min-width: 50px;
        }

        img {
            height: 30px;
            width: 100%;
            max-width: 30px;
        }

        p {
            font-size: 10px;
        }
    }
}
@media (max-width: 403px) {
    .skill-red-line {
        margin-top: -165px;
    }
}
@media (max-width: 350px) {
    .logo-gap {
        gap: 7%;
    }
}