<div id="skills" class="sprung"></div>
<section class="orange-button">
    <div class="logo-container">

        <div class="logo-gap m-bottom">
            <div>
                <img src="./assets/img/skills/angular-logo.png" alt="">
                <p>Angular</p>
            </div>
            <div>
                <img src="./assets/img/skills/typescript-logo.png" alt="">
                <p>TypeScript</p>
            </div>
            <div>
                <img src="./assets/img/skills/javascript-logo.png" alt="">
                <p>JavaScript</p>
            </div>
            <div>
                <img src="./assets/img/skills/html-logo.png" alt="">
                <p>HTML</p>
            </div>
        </div>

        <div class="logo-gap m-bottom">
            <div>
                <img src="./assets/img/skills/firebase-logo.png" alt="">
                <p>Firebase</p>
            </div>
            <div>
                <img src="./assets/img/skills/git-logo.png" alt="">
                <p>Git</p>
            </div>
            <div>
                <img src="./assets/img/skills/css-logo.png" alt="">
                <p>CSS</p>
            </div>
        </div>

        <div class="logo-gap m-bottom">
            <div>
                <img src="./assets/img/skills/scrum-logo.png" alt="">
                <p>SCRUM</p>
            </div>
            <div>
                <img src="./assets/img/skills/api-logo.png" alt="">
                <p>REST-API</p>
            </div>
        </div>

        <div class="logo-gap">
            <div>
                <img src="./assets/img/skills/material-logo.png" alt="">
                <p>Material</p>
                <p>Design</p>
            </div>
        </div>
    </div>

    <div class="text-button">
        <div>
            <h4>My Skills</h4>
            <p>By working hard and learning consistently, I have enhanced my skills in front-end development.</p>
            <img class="skill-red-line" src="./assets/img/skills-red-line.png" alt="">
            <!-- <div class="red-line2"></div> -->
            <div class="button-box">
                <a href="#contact" class="margin-for-button"><button>Get in touch</button></a>
            </div>
        </div>
    </div>
    <img class="shadow-orange-skill" src="./assets/img/skills/shadow-orange-skill.png" alt="">
</section>