/* You can add global styles to this file, and also import other style files */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
}

body {
    margin: 0;
    background-color: rgb(20, 29, 47);
    color: white;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    position: relative;
}

.flex {
    display: flex;
}

h1 {
    font-size: 70px;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size: 57px;
    font-weight: 400;
    color: rgba(255, 71, 71, 1);
    margin: 0;
}

h4 {
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 30px;
    margin-top: 0px;
}

.margin-for-button {
    margin-top: 24px;
}

.orange-button {
    button {
        // margin-top: 24px;
        padding: 15px 30px;
        background-color: rgba(250, 121, 2, 1);
        color: white;
        border-radius: 10px;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border: none;
        outline: none;
        cursor: pointer;
        transition: background-color 225ms, padding 225ms;

        &:hover {
            background-color: rgba(255, 71, 71, 1);
            padding: 20px 40px;
        }
    }
}

.red-button {
    button {
        // margin-top: 24px;
        padding: 15px 30px;
        background-color: rgba(255, 71, 71, 1);
        color: white;
        border-radius: 10px;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border: none;
        outline: none;
        cursor: pointer;
        transition: background-color 225ms;

        &:hover {
            background-color: rgba(250, 121, 2, 1);
        }
    }
}

.git-button {
    button {
        // margin-top: 24px;
        padding: 14px 30px;
        background-color: rgb(20, 29, 47);
        color: white;
        border-radius: 10px;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border: 1px solid rgba(250, 121, 2, 1);
        outline: none;
        cursor: pointer;
        transition: background-color 225ms;
        margin-bottom: 40px;

        &:hover {
            background-color: rgba(250, 121, 2, 1);
        }
    }
}

.sprung {
    position: absolute;
    margin: -109px; // minus header height, otherwise is the header a little bit above the section you want to go
}

@media (max-width: 1405px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 41px;
    }

    h4 {
        font-size: 50px;
    }
}

@media (max-width: 1200px) {
    .git-button button {
        margin-bottom: 0;
    }
}


@media (max-width: 1050px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }

    h4 {
        font-size: 32px;
    }
}

@media (max-width: 440px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h4 {
        font-size: 24px;
    }
}